.field_wrapper_accordion {
    width:100%;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid var(--color-uno);
    background: var(--color-tres);
    font-weight: normal;
    color: #000000;
}